// Global styles and defaults

//Body background and font color
body {
	background: #f7f7f7;
}

.contact {
	margin: 30px;

}

.exhibits {
	display: flex;
	align-items: center;
	margin: 64px 0;
}

.exhibits__image {
	margin-right: 36;
	max-width: 25%;
	padding-left: 30px;
}

.exhibits__image img {
	height: auto;
	max-width: 100%;
	margin: 30px;
}

.exhibits__content {
	max-width: 75%;

}

.event {
	display: flex;
		align-items: center;
		margin: 64px 0;
}

.about {
	margin: 30px;
}

.event__image {
	margin-right: 36px;
	max-width: 25%;
	padding-left: 30px;
	border-color: #d4000a;
	image-border: 2px;

}

.mid {
	margin: auto;

}

.event__image img {
	
	border-color: #d4000a;
	border-width: 30px;
	height: auto;
	max-width: 100%;
	padding-left: 30px;
	border-radius: 50%;

}

.event__imagee {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}

.event__content {
	max-width: 75%;
}

.event__time {
	font-style: italic;
}

.event__link {
	font-weight: bold;
	color: $gray;
} 

.event__title {
	color: #d4000a;
	
}

.event__titles {
	margin: 50px;
	
}

.container {
	//color: $gray;
	//margin: 10px;
	//padding: 20px;
}

.button__home {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 12px;
	color: #000000;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
		
}

.home__title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
		
}

.home__titles {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
		
}

.home__titless {
	display: flex;
	margin: 10px;
	justify-content: center;
	align-items: center;
		
}

.footer__foot {
	display: flex;
	justify-content: center;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	background: $white;
}

.backgroundd {
	background: #d4000a;
	color: #f7f7f7;
	padding: 50px;
	margin-bottom: 30px;
	margin-top: 70px;
	border: 50px;
	
}

.backgrounddd {
	display: flex;
	justify-content: center;
	background: #d4000a;
	color: #f7f7f7;
	padding: 20px;
	margin-bottom: 20px;
	
}


.header__title {
	display: flex;
	justify-content: flex-start;
	margin: 5px;
}

.news__letter {
	margin-left: 70px;
}

.about__image {
	justify-content: flex-end;
	margin-right: 36px;
	max-width: 25%;
	padding-left: 30px;
	border-color: #d4000a;
	image-border: 2px;
}

.header_image {
		margin: 8px;
	}

.about__image img {
	border-color: #d4000a;
	border-width: 30px;
	height: auto;
	max-width: 100%;
	padding-left: 30px;
	image-border: 2px;
}

.home_alert {
	 text-align: center;
}

.text__about {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 30px;
}

.home__logo {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.about__image {
	float: right;
}

.about_text {
	float: left;
}

/**
 * Content Styles
 */

/* This 'lil nugget makes our images responsive. */
.img-fluid {
  height: auto;
  width: 100%;
  border-radius: 50%;
}


/**
 * Layout Styles
 */

/* Standard container, nothing fancy here. */
.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 700px;
}

/* The media objects will just stack by default with some y-axis margins. */
.media {
  margin: 24px 0;
}

/* At a screen width of 600px or above, we'll use CSS grids for layout. */
@media screen and (min-width: 600px) {
  .media {
    display: grid;
      align-items: center; /* Flexbox align/justify, etc. props. work in grid too. */
      grid-gap: 24px; /* Just our gutter. */
      grid-template-areas: "image content"; /* We can reference these later... */
      grid-template-columns: 1fr 2fr;
    margin: 64px 0; /* Larger margins for larger screens. */
  }

  /**
   * Change the content/image placement on even media objects.
   *
   * This is called a pseudo-class. You can style specific child elements using
   * it, but note that it will apply the style to any sibling tags, so a pattern
   * of <p> <p> <p> <h2> <p> will include the <h2> in :nth-child(even).
   *
   * Use nth-of-type() if you want to only target siblings of the same type.
   *
   * https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
   */
  .media:nth-child(even){
    grid-template-areas: "content image"; /* See how we swapped these? */
    grid-template-columns: 2fr 1fr; /* And these? */
  }

  .media__image {
    grid-area: image; /* This belongs in our image area, defined above...*/
    border-radius: 50%;
  }

  .media__content {
    grid-area: content; /* This belongs in our content area, defined above...*/
  }
}