// Global styles and defaults

//Body background and font color
body {
	background: #f7f7f7;
}

.event {
	display: flex;
		align-items: center;
		margin: 64px 0;
}

.event__image {
	margin-right: 36px;
	max-width: 25%;
	padding-left: 30px;
	border-color: #d4000a;
	image-border: 2px;
}

.event__image img {
	
	border-color: #d4000a;
	border-width: 30px;
	height: auto;
	max-width: 100%;
	padding-left: 30px;
	

}

.event__imagee {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}

.event__content {
	max-width: 75%;
}

.event__time {
	font-style: italic;
}

.event__link {
	font-weight: bold;
	color: $gray;
} 

.event__title {
	color: #d4000a;
	margin-right: 36px;
	margin-left: 60px;
}

.event___title {
	margin-right: 36px;
}

.container {
	//color: $gray;
	//margin: 10px;
	//padding: 20px;
}

.button__home {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 12px;
	color: #000000;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
		
}

.home__title {
	display: flex;
	justify-content: center;
	padding: 30px;
		
}

.home__titles {
	display: flex;
	margin: 30px;
		
}

.home__titless {
	display: flex;
	margin: 30px;
		
}

.footer__foot {
	display: flex;
	justify-content: center;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	background: $white;
}

.backgroundd {
	display: flex;
	justify-content: center;
	background: #d4000a;
	color: #f7f7f7;
	padding: 60px;
	margin-bottom: 30px;
	position: auto;
}

.backgrounddd {
	display: flex;
	justify-content: center;
	background: #d4000a;
	color: #f7f7f7;
	padding: 20px;
	margin-bottom: 20px;
	
}

.header__title {
	display: flex;
	justify-content: flex-start;
	margin: 20px;
}

.news__letter {
	margin-left: 70px;
}

.about__image {
	justify-content: flex-end;
	margin-right: 36px;
	max-width: 25%;
	padding-left: 30px;
	border-color: #d4000a;
	image-border: 2px;
}

.about__image img {
	border-color: #d4000a;
	border-width: 30px;
	height: auto;
	max-width: 100%;
	padding-left: 30px;
	image-border: 2px;
}

.home_alert {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text__about {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 30px;
}